@import "public";

.@{prefix}-layout {
  &:extend(.full);
  .@{prefix}-sider {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    .@{prefix}-menu {
      &:extend(.full);
    }
  }
}
